# SPDX-FileCopyrightText: 2025 Marco Gaib - mgdev72@gmail.com
# SPDX-License-Identifier: GPL-3.0-or-later
name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
